/* SCROLLBAR - OBLIGATORIO */

.scroll-personalize {
    position: relative;
}

.scroll-personalize::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}

.scroll-personalize::-webkit-scrollbar-track {
    background-color: transparent;
}

.scroll-personalize::-webkit-scrollbar-thumb {
    border-radius: 4px;
}
