.content-pagination-items {
    opacity: 0;
    transform: translateY(-10px);
}

.content-pagination-items.content-pagination-visible {
    opacity: 1;
    transform: translateY(0);
}

.content-pagination-items.content-pagination-hidden {
    opacity: 0;
    transform: translateY(-10px);
}

@supports selector(:has(*)) {}