/* Asegurarse de que el input tenga un color de texto claro */
.input-search input {
    color: var(--search-text-color);
}

/* Y el placeholder */
.input-search input::placeholder {
    color: var(--light-text-color); /* Puedes definir un light-text-color en variables.css para esto */
}

.pagination-items .items-counter {
    font-size: var(--search-counter-font-size);
    text-align: var(--search-counter-text-align);
    color: var(--search-counter-color); /* <-- Asegúrate de que el color se aplique aquí también */
}