.app-search {
    border-radius: var(--search-border-radius);
}

.app-search:has(.content-pagination-items.content-pagination-visible),
.app-search:has(.content-pagination-items.content-pagination-visible) .input-search {
    transition: border-radius 0.1s ease-in-out;
    border-radius: var(--search-border-radius-open);
}

.items-search .items {
    border-radius: var(--search-border-radius);
}

.pagination-items .items-counter {
    border-top: 1px solid var(--search-border-color);
    border-radius: 0 0 var(--search-border-radius) var(--search-border-radius);
}

.content-pagination-items:not(:has(.pagination-items:last-child)) {
    border-radius: 0 0 var(--search-border-radius) var(--search-border-radius);
}

.content-pagination-items:has(.pagination-items:first-child) .items-counter {
    border-radius: 0;
}