.app-search {
    background-color: var(--search-bg-color);
    color: var(--search-text-color);
}

.items-search {
    background-color: var(--search-bg-color);
}


.input-search input::placeholder {
    color: var(--search-placeholder-color);
}

.items-search .items {
    background-color: var(--search-item-bg-color);
    color: var(--search-text-color-items);
    padding: var(--search-item-padding);
    border-radius: var(--search-border-radius);
}

.items-search .items:hover {
    background-color: var(--search-item-hover-bg-color);
    cursor: pointer;
}

.items.selected {
    background-color: var(--search-selected-bg-color);
    border-left: 4px solid var(--search-selected-border-color);
    padding-left: 11px;
    color: var(--search-text-color);
}

.pagination-items .items-counter {
    color: var(--search-counter-color);
    background-color: var(--search-counter-bg-color);
    border-top-color: var(--search-border-color);
}

.spinner {
    border-color: var(--spinner-border-color);
    border-top-color: var(--spinner-top-color);
}

.scroll-personalize::-webkit-scrollbar-track {
    background: var(--search-bg-color);
    border-radius: 10px;
}

.scroll-personalize::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 2px solid var(--search-bg-color);
}