.app-search {
    max-height: var(--search-max-height);
}

.items-search {
    padding: var(--search-padding);
    gap: var(--search-padding);
}

.items-search .items {
    padding: var(--search-item-padding);
}

.pagination-items .items-counter {
    padding: var(--search-padding);
}

.content-pagination-items {
    max-height: var(--search-max-height, 300px);
}