/* Asegurarse de que el input tenga un color de texto claro */
.input-search input {
    color: var(--search-text-color);
}

/* .input-search input:not(:focus) {
    color: var(--search-text-color);
} */

.pagination-items .items-counter {
    font-size: var(--search-counter-font-size);
    text-align: var(--search-counter-text-align);
    /* <-- Asegúrate de que el color se aplique aquí también */
}